{% extends "base/base.html" %}
{% block title %} Checkout {% endblock title %}

{% block content %}
{% include 'includes/pages-steps.html' %}
<form method="post">
{% csrf_token %}
<div class="flex mx-10 justify-center gap-6">
    <div class="rounded-lg py-6 px-3 shadow-md bg-gray-50 dark:bg-gray-700">
        <div class="">
             <div class="text-center mx-auto font-bold text-lg text-gray-800 dark:text-gray-300">Your Personal Info</div>
            <div class="flex gap-x-8">
                <div class="my-3">
                    <input name="first_name" type="text" placeholder="First Name" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                </div>
                <div class="my-3">
                    <input name="last_name" type="text" placeholder="Last Name" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                </div>
            </div>
            <div class="my-0">
                <input name="email" type="email" placeholder="Email" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="my-3">
                <input name="phone" type="tel" placeholder="Phone" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
            </div>
        </div>
        <div class="w-10/12 h-1 bg-gray-500 mx-auto rounded-xl my-6"></div>
        <div>
            <div class="text-center mx-auto font-bold text-lg text-gray-800 dark:text-gray-300">Your Address</div>
            <div class="my-3">
                <input name="city" type="text" placeholder="City" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="my-3">
                <input name="address" type="text" placeholder="Address" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
            <div class="my-3 flex gap-4">
                <input name="country" list="countries" placeholder="Country" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-60 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                <datalist id="countries">
                    <option value="Afghanistan"></option>
                    <option value="Albania"></option>
                    <option value="Algeria"></option>
                    <option value="American Samoa"></option>
                    <option value="Andorra"></option>
                    <option value="Angola"></option>
                    <option value="Anguilla"></option>
                    <option value="Antarctica"></option>
                    <option value="Antigua and Barbuda"></option>
                    <option value="Argentina"></option>
                    <option value="Armenia"></option>
                    <option value="Aruba"></option>
                    <option value="Australia"></option>
                    <option value="Austria"></option>
                    <option value="Azerbaijan"></option>
                    <option value="Bahamas"></option>
                    <option value="Bahrain"></option>
                    <option value="Bangladesh"></option>
                    <option value="Barbados"></option>
                    <option value="Belarus"></option>
                    <option value="Belgium"></option>
                    <option value="Belize"></option>
                    <option value="Benin"></option>
                    <option value="Bermuda"></option>
                    <option value="Bhutan"></option>
                    <option value="Bolivia"></option>
                    <option value="Bosnia and Herzegovina"></option>
                    <option value="Botswana"></option>
                    <option value="Bouvet Island"></option>
                    <option value="Brazil"></option>
                    <option value="British Indian Ocean Territory"></option>
                    <option value="Brunei Darussalam"></option>
                    <option value="Bulgaria"></option>
                    <option value="Burkina Faso"></option>
                    <option value="Burundi"></option>
                    <option value="Cambodia"></option>
                    <option value="Cameroon"></option>
                    <option value="Canada"></option>
                    <option value="Cape Verde"></option>
                    <option value="Cayman Islands"></option>
                    <option value="Central African Republic"></option>
                    <option value="Chad"></option>
                    <option value="Chile"></option>
                    <option value="China"></option>
                    <option value="Christmas Island"></option>
                    <option value="Cocos (Keeling) Islands"></option>
                    <option value="Colombia"></option>
                    <option value="Comoros"></option>
                    <option value="Congo"></option>
                    <option value="Congo, The Democratic Republic of The"></option>
                    <option value="Cook Islands"></option>
                    <option value="Costa Rica"></option>
                    <option value="Cote D'ivoire"></option>
                    <option value="Croatia"></option>
                    <option value="Cuba"></option>
                    <option value="Cyprus"></option>
                    <option value="Czech Republic"></option>
                    <option value="Denmark"></option>
                    <option value="Djibouti"></option>
                    <option value="Dominica"></option>
                    <option value="Dominican Republic"></option>
                    <option value="Ecuador"></option>
                    <option value="Egypt"></option>
                    <option value="El Salvador"></option>
                    <option value="Equatorial Guinea"></option>
                    <option value="Eritrea"></option>
                    <option value="Estonia"></option>
                    <option value="Ethiopia"></option>
                    <option value="Falkland Islands (Malvinas)"></option>
                    <option value="Faroe Islands"></option>
                    <option value="Fiji"></option>
                    <option value="Finland"></option>
                    <option value="France"></option>
                    <option value="French Guiana"></option>
                    <option value="French Polynesia"></option>
                    <option value="French Southern Territories"></option>
                    <option value="Gabon"></option>
                    <option value="Gambia"></option>
                    <option value="Georgia"></option>
                    <option value="Germany"></option>
                    <option value="Ghana"></option>
                    <option value="Gibraltar"></option>
                    <option value="Greece"></option>
                    <option value="Greenland"></option>
                    <option value="Grenada"></option>
                    <option value="Guadeloupe"></option>
                    <option value="Guam"></option>
                    <option value="Guatemala"></option>
                    <option value="Guinea"></option>
                    <option value="Guinea-bissau"></option>
                    <option value="Guyana"></option>
                    <option value="Haiti"></option>
                    <option value="Heard Island and Mcdonald Islands"></option>
                    <option value="Holy See (Vatican City State)"></option>
                    <option value="Honduras"></option>
                    <option value="Hong Kong"></option>
                    <option value="Hungary"></option>
                    <option value="Iceland"></option>
                    <option value="India"></option>
                    <option value="Indonesia"></option>
                    <option value="Iran, Islamic Republic of"></option>
                    <option value="Iraq"></option>
                    <option value="Ireland"></option>
                    <option value="Israel"></option>
                    <option value="Italy"></option>
                    <option value="Jamaica"></option>
                    <option value="Japan"></option>
                    <option value="Jordan"></option>
                    <option value="Kazakhstan"></option>
                    <option value="Kenya"></option>
                    <option value="Kiribati"></option>
                    <option value="Korea, Democratic People's Republic of"></option>
                    <option value="Korea, Republic of"></option>
                    <option value="Kuwait"></option>
                    <option value="Kyrgyzstan"></option>
                    <option value="Lao People's Democratic Republic"></option>
                    <option value="Latvia"></option>
                    <option value="Lebanon"></option>
                    <option value="Lesotho"></option>
                    <option value="Liberia"></option>
                    <option value="Libyan Arab Jamahiriya"></option>
                    <option value="Liechtenstein"></option>
                    <option value="Lithuania"></option>
                    <option value="Luxembourg"></option>
                    <option value="Macao"></option>
                    <option value="Macedonia, The Former Yugoslav Republic of"></option>
                    <option value="Madagascar"></option>
                    <option value="Malawi"></option>
                    <option value="Malaysia"></option>
                    <option value="Maldives"></option>
                    <option value="Mali"></option>
                    <option value="Malta"></option>
                    <option value="Marshall Islands"></option>
                    <option value="Martinique"></option>
                    <option value="Mauritania"></option>
                    <option value="Mauritius"></option>
                    <option value="Mayotte"></option>
                    <option value="Mexico"></option>
                    <option value="Micronesia, Federated States of"></option>
                    <option value="Moldova, Republic of"></option>
                    <option value="Monaco"></option>
                    <option value="Mongolia"></option>
                    <option value="Montserrat"></option>
                    <option value="Morocco"></option>
                    <option value="Mozambique"></option>
                    <option value="Myanmar"></option>
                    <option value="Namibia"></option>
                    <option value="Nauru"></option>
                    <option value="Nepal"></option>
                    <option value="Netherlands"></option>
                    <option value="Netherlands Antilles"></option>
                    <option value="New Caledonia"></option>
                    <option value="New Zealand"></option>
                    <option value="Nicaragua"></option>
                    <option value="Niger"></option>
                    <option value="Nigeria"></option>
                    <option value="Niue"></option>
                    <option value="Norfolk Island"></option>
                    <option value="Northern Mariana Islands"></option>
                    <option value="Norway"></option>
                    <option value="Oman"></option>
                    <option value="Pakistan"></option>
                    <option value="Palau"></option>
                    <option value="Palestinian Territory, Occupied"></option>
                    <option value="Panama"></option>
                    <option value="Papua New Guinea"></option>
                    <option value="Paraguay"></option>
                    <option value="Peru"></option>
                    <option value="Philippines"></option>
                    <option value="Pitcairn"></option>
                    <option value="Poland"></option>
                    <option value="Portugal"></option>
                    <option value="Puerto Rico"></option>
                    <option value="Qatar"></option>
                    <option value="Reunion"></option>
                    <option value="Romania"></option>
                    <option value="Russian Federation"></option>
                    <option value="Rwanda"></option>
                    <option value="Saint Helena"></option>
                    <option value="Saint Kitts and Nevis"></option>
                    <option value="Saint Lucia"></option>
                    <option value="Saint Pierre and Miquelon"></option>
                    <option value="Saint Vincent and The Grenadines"></option>
                    <option value="Samoa"></option>
                    <option value="San Marino"></option>
                    <option value="Sao Tome and Principe"></option>
                    <option value="Saudi Arabia"></option>
                    <option value="Senegal"></option>
                    <option value="Serbia and Montenegro"></option>
                    <option value="Seychelles"></option>
                    <option value="Sierra Leone"></option>
                    <option value="Singapore"></option>
                    <option value="Slovakia"></option>
                    <option value="Slovenia"></option>
                    <option value="Solomon Islands"></option>
                    <option value="Somalia"></option>
                    <option value="South Africa"></option>
                    <option value="South Georgia and The South Sandwich Islands"></option>
                    <option value="Spain"></option>
                    <option value="Sri Lanka"></option>
                    <option value="Sudan"></option>
                    <option value="Suriname"></option>
                    <option value="Svalbard and Jan Mayen"></option>
                    <option value="Swaziland"></option>
                    <option value="Sweden"></option>
                    <option value="Switzerland"></option>
                    <option value="Syrian Arab Republic"></option>
                    <option value="Taiwan, Province of China"></option>
                    <option value="Tajikistan"></option>
                    <option value="Tanzania, United Republic of"></option>
                    <option value="Thailand"></option>
                    <option value="Timor-leste"></option>
                    <option value="Togo"></option>
                    <option value="Tokelau"></option>
                    <option value="Tonga"></option>
                    <option value="Trinidad and Tobago"></option>
                    <option value="Tunisia"></option>
                    <option value="Turkey"></option>
                    <option value="Turkmenistan"></option>
                    <option value="Turks and Caicos Islands"></option>
                    <option value="Tuvalu"></option>
                    <option value="Uganda"></option>
                    <option value="Ukraine"></option>
                    <option value="United Arab Emirates"></option>
                    <option value="United Kingdom"></option>
                    <option value="United States"></option>
                    <option value="United States Minor Outlying Islands"></option>
                    <option value="Uruguay"></option>
                    <option value="Uzbekistan"></option>
                    <option value="Vanuatu"></option>
                    <option value="Venezuela"></option>
                    <option value="Viet Nam"></option>
                    <option value="Virgin Islands, British"></option>
                    <option value="Virgin Islands, U.S"></option>
                    <option value="Wallis and Futuna"></option>
                    <option value="Western Sahara"></option>
                    <option value="Yemen"></option>
                    <option value="Zambia"></option>
                    <option value="Zimbabwe"></option>
                </datalist>

                <input name="postal_code" title="Postal code should have 5 digits e.g. 12-345" type="text" inputmode="numeric" maxlength="6" pattern="[0-9]{2}-[0-9]{3}" placeholder="Postal Code" class="invalid:border-red-500 invalid:dark:border-red-500 focus:outline-none bg-gray-50 w-32 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
            </div>
        </div>
    </div>
    <div class="rounded-lg py-6 px-3 flex flex-col shadow-md bg-gray-50 dark:bg-gray-700">
        <div class="relative h-full">
            <div id="payment-methods" class="max-w-md grid grid-cols-2 grid-rows-2 gap-2 grid-flow-col auto-cols-max">
                <div class="">
                <input disabled type="radio" id="mobile-payment" name="payment" value="Mobile Payment" class="hidden peer" required>
                    <label for="mobile-payment" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 opacity-80 bg-gray-50 border border-gray-200 rounded-lg dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:text-gray-400 dark:bg-gray-600 ">
                        Mobile Payment
                        <img alt="Mobile Payment" src="/_static/icons/mobile-payment.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="debit-card" name="payment" value="Debit Card" class="hidden peer" required>
                    <label for="debit-card" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Debit Card
                        <img alt="Credit Card" src="/_static/icons/credit-card.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="cash-on-delivery" name="payment" value="Cash On Delivery" class="hidden peer" required>
                    <label for="cash-on-delivery" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Cash On Delivery
                        <img alt="Money" src="/_static/icons/money.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="traditional-transfer" name="payment" value="Traditional Transfer" class="hidden peer" required>
                    <label for="traditional-transfer" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Traditional Transfer
                        <img alt="Bank" src="/_static/icons/bank.png" class="w-10 ml-3">
                    </label>
                </div>
            </div>
            <div id="debit-card-form" class="mt-6 mx-auto w-fit hidden">
                <input name="card_number" id="card-number" type="text" placeholder="Card Number" class="focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                <div class="flex gap-6 mt-6">
                    <input name="card_expiry" id="cc-expiry-input" type="text" maxlength="5" placeholder="MM/YY" class="focus:outline-none bg-gray-50 w-44 mr-2.5 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                    <input name="card_cvv" id="card-cvv" type="text" maxlength="3" placeholder="CVV" class="focus:outline-none bg-gray-50 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                </div>
            </div>
            <div class=" absolute bottom-0  dark:text-white text-dark-xl w-full flex px-3">
{#                <span class="">Total: </span><span>1299$</span>#}
                <div class="dark:text-white">
                    <span class="font-bold">Subtotal</span><br>
                    <span id="total-price" class="dark:text-gray-300 font-light">${{ total_discount }}1234.99</span>
                </div>
                <button type="submit" onclick="" class="ml-auto bg-lime dark:bg-dark-lime py-2 px-3 rounded-xl text-white align-middle hover:tracking-wide transition-all flex active:translate-y-1">
                    <img alt="Check" src="/_static/icons/Check.png" class="w-8 mr-1 my-auto">
                    <span class="my-auto">Complete Order</span>
                </button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}

{% block javascripts %}
<script src="/_static/Typescript/_compiled/DebitCardForm.js"></script>
<script src="/_static/Typescript/_compiled/CreditCardMask.js"></script>
{% endblock javascripts %}