{% extends "base/base.html" %}
{% block title %} Checkout {% endblock title %}

{% block content %}
{% include 'includes/pages-steps.html' %}
<form method="post">
{% csrf_token %}
<div class="flex flex-row mx-10 justify-center gap-6">
    <div class="rounded-lg py-6 px-3 shadow-md bg-gray-50 dark:bg-gray-700">
        {% if user.is_authenticated %}
        {% include 'cart/cart-checkout-logged.html' %}
        {% else %}
        {% include 'cart/cart-checkout-notlogged.html' %}
        {% endif %}
    </div>
    <div class="rounded-lg py-6 px-3 flex flex-col shadow-md bg-gray-50 dark:bg-gray-700">
        <div class="relative h-full">
            <div id="payment-methods" class="max-w-md grid grid-cols-2 grid-rows-2 gap-2 grid-flow-col auto-cols-max">
                <div class="">
                <input disabled type="radio" id="mobile-payment" name="payment" value="Mobile Payment" class="hidden peer" required>
                    <label for="mobile-payment" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 opacity-80 bg-gray-50 border border-gray-200 rounded-lg dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 dark:text-gray-400 dark:bg-gray-600 ">
                        Mobile Payment
                        <img alt="Mobile Payment" src="/_static/icons/mobile-payment.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="debit-card" name="payment" value="Debit Card" class="hidden peer" required>
                    <label for="debit-card" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Debit Card
                        <img alt="Credit Card" src="/_static/icons/credit-card.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="cash-on-delivery" name="payment" value="Cash On Delivery" class="hidden peer" required>
                    <label for="cash-on-delivery" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Cash On Delivery
                        <img alt="Money" src="/_static/icons/money.png" class="w-10 ml-3">
                    </label>
                </div>
                <div class="">
                <input type="radio" id="traditional-transfer" name="payment" value="Traditional Transfer" class="hidden peer" required>
                    <label for="traditional-transfer" class="justify-center w-full whitespace-nowrap flex inline-flex items-center p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Traditional Transfer
                        <img alt="Bank" src="/_static/icons/bank.png" class="w-10 ml-3">
                    </label>
                </div>
            </div>
            <div id="debit-card-form" class="mt-6 mx-auto w-fit hidden">
                <input name="card_number" id="card-number" type="text" placeholder="Card Number" class="focus:outline-none bg-gray-50 w-96 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                <div class="flex gap-6 mt-6">
                    <input name="card_expiry" id="cc-expiry-input" type="text" maxlength="5" placeholder="MM/YY" class="focus:outline-none bg-gray-50 w-44 mr-2.5 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                    <input name="card_cvv" id="card-cvv" type="text" maxlength="3" placeholder="CVV" class="focus:outline-none bg-gray-50 w-44 border border-gray-300 text-gray-900 text-sm rounded-lg block px-2.5 py-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" required>
                </div>
            </div>
            <div class=" absolute bottom-0  dark:text-white text-dark-xl w-full flex px-3">
{#                <span class="">Total: </span><span>1299$</span>#}
                <div class="dark:text-white">
                    <span class="font-bold">Subtotal</span><br>
                    <span id="total-price" class="dark:text-gray-300 font-light">${{ total_discount }}</span>
                </div>
                <button type="submit" onclick="" class="ml-auto bg-lime dark:bg-dark-lime py-2 px-3 rounded-xl text-white align-middle hover:tracking-wide transition-all flex active:translate-y-1">
                    <img alt="Check" src="/_static/icons/Check.png" class="w-8 mr-1 my-auto">
                    <span class="my-auto">Complete Order</span>
                </button>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock content %}

{% block javascripts %}
<script src="/_static/Typescript/_compiled/DebitCardForm.js"></script>
<script src="/_static/Typescript/_compiled/CreditCardMask.js"></script>
{% endblock javascripts %}