{% extends "base/base.html" %}
{% block title %} Blog {% endblock title %}

{% block content %}
    <div class="">
        <div class="grid mx-auto grid-cols-2 w-fit">
            {% for post in posts %}
            <div class="w-96 h-96 rounded-xl drop-shadow-xl bg-gray-50 dark:bg-light-dark">
                <div class="h-3/5 w-full rounded-t-xl overflow-hidden mb-5">
                    <img alt="" src="{{ post.post_image.url }}" class="w-full h-full">
                </div>

                <div class="text-center mb-5">
                    <a href="blog/{{ post.slug }}" class="relative group text-sky-600 transition after:duration-500 text-xl text-center font-bold text-dark dark:text-white w-fit
                    after:content-[''] after:bg-lime after:absolute after:scale-x-0 after:w-full after:h-0.5 hover:after:scale-x-100 after:w-full after:transition after:left-0 after:bottom-0">
                        {{ post.title}}
                    </a>
                </div>

                <div class="mx-5">
                    <div class="text-dark text-sm dark:text-white truncate-line-clamp"> {{ post.content }}</div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock content %}

