{% extends "base/base.html" %}
{% block title %} {{ product.name }} {% endblock title %}
{% load static %}
{% load custom_tags %}

{% block stylesheets %}
<style>
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .custom-number-input input:focus {
        outline: none !important;
    }

    .custom-number-input button:focus {
        outline: none !important;
    }
</style>
{% endblock stylesheets %}

{% block content %}
    {% include 'includes/pages-steps.html' %}
    {% include 'modal/modal-add-review.html' %}

<div class="">
    <div class="grid mx-auto w-9/12 max-w-6xl gap-6 bg-gray-50 dark:bg-light-dark p-10 rounded-2xl grid-cols-1 md:grid-cols-2 ">
        <div class="px-10 max-w-sm min-w-[200px] m-auto">
            <div class="w-full">
                <img alt="{{ product.name }}" src="{{ product.image.url }}" class="max-w-full max-h-96">
            </div>
        </div>
        <div class="">
            <div class="w-full">
                <h1 class="text-2xl text-center font-bold text-transparent  bg-clip-text bg-gradient-to-r from-lime to-dark dark:to-white">
                    {{ product.name }}
                </h1>
                <div class="my-8"></div>
                <p class="dark:text-white"> {{ product.description }}</p>
                <div class="my-8"></div>
                <div>
                    <p class="dark:text-white">${{ product.price }}</p>
                </div>
                <div class="my-8"></div>
                <div class="grid grid-cols-3 gap-3 max-w-sm">
                    <div class="flex flex-row w-full rounded-lg relative bg-transparent">
                        <button onclick="$('#product-quantity').val( function(i, oldval) {return oldval > 1 ? --oldval : oldval;});" data-action="decrement" class="dark:bg-gray-500 dark:text-white bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-5 rounded-l cursor-pointer outline-none">
                            <span class="m-auto text-xl font-thin">−</span>
                        </button>
                        <input id="product-quantity" oninput="this.value = this.value > 999 ? 999 : this.value < 1 ? 1 : Math.abs(this.value);" min="1" max="999" type="number" class="dark:bg-gray-500 dark:text-white outline-none focus:outline-none text-center w-12 bg-gray-200 font-semibold text-sm hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none" name="custom-input-number" value="1">
                        <button onclick="$('#product-quantity').val( function(i, oldval) {return oldval >= 999 ? oldval : ++oldval;});" data-action="increment" class="dark:bg-gray-500 dark:text-white bg-gray-200 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-5 rounded-r cursor-pointer">
                              <span class="m-auto text-xl font-thin">+</span>
                        </button>
                    </div>
                    <div class="group w-full col-span-2" onclick="AddProduct('{{ product.id }}', $('#product-quantity').val())">
                        <button class=" w-full cart-button z-50 group-active:translate-y-3" >
                            <div class="flex mx-auto">
                                <img src="{% static '/icons/Cart.svg' %}" alt="Cart" class="mr-2 w-4">
                                <span class="text-white text-md">Add to cart</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="mx-auto w-9/12 max-w-6xl bg-gray-50 dark:bg-light-dark p-10 rounded-2xl mt-10">
        <div class="">
            <h1 class="dark:text-white font-bold text-2xl mb-6">Reviews</h1>

            {% if not comments %}
                <div class="text-center">
                    <p class="dark:text-white text-lg mb-6">Be the first who add review :)</p>
                </div>
            {% endif %}
            <div class="group w-fit col-span-2 mx-auto" onclick="">
                <button class=" w-full cart-button z-50 group-active:translate-y-2" >
                    <div class="flex mx-auto">
{#                        <img src="{% static '/icons/Cart.svg' %}" alt="Cart" class="mr-2 w-4">#}
                        <span class="text-white text-md">Add Your Review</span>
                    </div>
                </button>
            </div>
            <ul class="post-comment mb-10">
                {% for r in "123" %}
                <li class="my-3">
                    <div class="dark:text-white" id="comment-{{ r.id }}">
                        <div class="flex justify-between">
                            <div class="flex items-center">
                                <div class="rounded-1/2 bg-orange-300 w-8 h-8 flex items-center justify-center overflow-hidden">
                                    <p class="my-auto">{{ r.get_author_full_name|get_initials }}KO</p>
{#                                    <img class="h-8" src="{{ post.post_image.url }}"> TODO After adding profile pictures for users include those here#}
                                </div>
                                <p class="font-bold ml-2">{{ r.get_author_full_name }}Kacper Osko</p>
                            </div>
                            <div class="text-sm dark:text-gray-400">
                                {{ r.created_on|date:'Y-m-d h:i'}}
                            </div>
                        </div>

                        <div class="mt-2">
                            <p>
                                {{ r.content }}Piekna roslinka <3
                            </p>
                        </div>
                        <div class="flex items-center space-x-1 mt-2">
                            <p class="text-sm text-neutral-600 dark:text-neutral-300">4/5</p>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                            <svg class="w-4 h-4 text-gray-300 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                            </svg>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}