{% block stylesheets %}
{% endblock stylesheets %}
<div class="w-full bg-lime dark:bg-dark-lime h-12 rounded-full grid grid-cols-6 content-center">

    <div class="justify-self-start ml-5 flex items-center cursor-pointer" onclick="window.location.href='/'">
        <img src="/_static/img/logo_plant.png" class="w-10 h-10" alt="logo">
        <div class="flex flex-col ml-1 leading-5 text-xl text-white">
            <span class="font-light">OSKO</span>
            <span class="font-bold">Plant</span>
        </div>
    </div>

    <div class="text-center text-white text-lg items-center leading-12 col-span-4 space-x-12">
        <a href="/store" class=" ease-out duration-200 hover:font-bold hover:text-xl">Plants</a>
        <a href="/about-us" class=" ease-out duration-200 hover:font-bold hover:text-xl">About Us</a>
        <a href="/blog" class=" ease-out duration-200 hover:font-bold hover:text-xl">Blog</a>
    </div>
    <div class="flex items-center justify-end mr-5">
        <div class="relative">
            <a href="/cart"><img alt="Cart" src="/_static/icons/Cart.svg" class="mx-3 w-8 hover:scale-125 ease-out duration-300"></a>
            <div id="cart-count" class="absolute right-0 top-0 -mt-1 bg-white rounded-full text-lime font-extrabold w-6 h-6 text-xs text-center leading-6 empty:hidden"></div>
        </div>
        <a href="/account"><img alt="My Profile" src="/_static/icons/User.svg" class="mx-3 w-7 hover:scale-125 ease-out duration-300"></a>
    </div>
</div>
{% block javascripts %}
<script src="/_static/Typescript/_compiled/GetCartProducts.js"></script>
{% endblock javascripts %}

